@import url('https://fonts.googleapis.com/css?family=ABeeZee|Lora:400i&display=swap');
$font-family-sans-serif:      Abeezee, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family:        Lora, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


$nav-tabs-border-radius: 0;
$greenbtn: #6D9886;
$darkgreen: #374f45;
$bodycolor: #B0BCAA;
$complete: #3E4C5E;
$continuous: #112F41;
$enrolled: #BB7839;
$theme-colors: (
  'greenish': $greenbtn,
  'darkgreen': $darkgreen,
  'bodycolor': $bodycolor,
  'complete': $complete,
  'continuous': $continuous,
  'enrolled':$enrolled,

) !default;


$input-placeholder-color: #fff !default;
@import "~bootstrap/scss/bootstrap";

body{
  background-color: #B0BCAA;
}

.nav-tabs{

  border-bottom: 0;
  box-shadow: none;
}
.nav-tabs .nav-link{
  @extend .px-2;
  @extend .mx-3;
  cursor: pointer;
  border: none;
  border-bottom: 3px solid $gray-300;
  padding-left: 0;
  padding-right: 0;
}
.nav-tabs .nav-link.active{
  @extend .px-2;
  @extend .mx-3;
  cursor: pointer;
  border: none;
  border-bottom: 3px solid #6D9886;
  padding-left: 0;
  padding-right: 0;
}
.nav-tabs .nav-link{
  border-radius: 0;
}


